#!/bin/bash

alias c=clear
alias C='clear && printf "\e[3J"'

alias g=git
alias ls='ls -thor'
alias cs='chmod +x'
alias s=ssh
# alias ps='ps auxf'
alias psg='ps aux | grep -v grep | grep -i -e USER -e'
alias ..='cd ..'
alias myp='ps -fjH -u $USER'

alias npmlist='npm list -g --depth=0'

alias hideDesktopFiles='defaults write com.apple.finder CreateDesktop -bool false && killall Finder'
alias showDesktopFiles='defaults write com.apple.finder CreateDesktop -bool true && killall Finder'
alias showAllFiles='defaults write com.apple.finder AppleShowAllFiles YES'
alias hideAllFiles='defaults write com.apple.finder AppleShowAllFiles YES'

alias watch="fswatch -0 -o . | xargs -n1 -I {} "
alias ddd='rm -rf ~/Library/Developer/Xcode/DerivedData/*'

alias tpbcopy='tmux saveb - | pbcopy'
alias start_sp='cd ~/Documents/elixir/silver_post; ~/dotFiles/tmux/sp.sh'
alias qvi="~/.config/nvim/vimanywhere.sh"

alias spleet="spleeter separate -o ~/Music/spleeter_output -p spleeter:4stems-16kHz"
alias youtubeDL="youtube-dl -x --audio-format \"mp3\" --audio-quality 0"

docker-postgres() {
  # Example: `docker-postgres 9.5"
  docker run -d \
    --name postgres"$1" \
    --volume postgres_data:/var/lib/postgresql/data \
    --env POSTGRES_USER=postgres \
    --env POSTGRES_PASSWORD=postgres \
    --publish 5432:5432 \
    postgres:"$1"
}
